body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Top styles */
.container-main {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.img_main {
    padding-top: 8%;
    border-radius: 15px;
    box-shadow: 20px 10px 40px #585794;
}

/* Medium styles */
.flex-container {
    width: 75%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.flex-container > div {
    width: 48%;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex: auto;
    box-shadow: 20px 10px 40px #585794;
}

H2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 2.5;
    font-family: 'Arial', sans-serif; 
    color: #585794;
}

p {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Arial', sans-serif; 
    color: #585794;
}

.img_game_product {
    padding-top: 5%;
}

.img_game_banner {
    padding-top: 0%;
}

@media screen and (max-width: 768px) {
    .flex-container > div {
        width: 100%;
    }

    img {
        max-width: 72%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .img_main {
        padding-top: 28%;
    }

    H2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}